:root, .light-theme {
  --md-sys-color-primary-rgb: 48,84,203;
  --md-sys-color-primary: #3054cb;
  --md-sys-color-on-primary-rgb: 255,255,255;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container-rgb: 220,225,255;
  --md-sys-color-primary-container: #dce1ff;
  --md-sys-color-on-primary-container-rgb: 0,21,82;
  --md-sys-color-on-primary-container: #001552;
  --md-sys-color-secondary-rgb: 90,93,114;
  --md-sys-color-secondary: #5a5d72;
  --md-sys-color-on-secondary-rgb: 255,255,255;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container-rgb: 222,225,249;
  --md-sys-color-secondary-container: #dee1f9;
  --md-sys-color-on-secondary-container-rgb: 23,27,44;
  --md-sys-color-on-secondary-container: #171b2c;
  --md-sys-color-tertiary-rgb: 117,84,111;
  --md-sys-color-tertiary: #75546f;
  --md-sys-color-on-tertiary-rgb: 255,255,255;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container-rgb: 255,215,244;
  --md-sys-color-tertiary-container: #ffd7f4;
  --md-sys-color-on-tertiary-container-rgb: 44,18,41;
  --md-sys-color-on-tertiary-container: #2c1229;
  --md-sys-color-error-rgb: 186,26,26;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error-rgb: 255,255,255;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container-rgb: 255,218,214;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container-rgb: 65,0,2;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background-rgb: 254,251,255;
  --md-sys-color-background: #fefbff;
  --md-sys-color-on-background-rgb: 27,27,31;
  --md-sys-color-on-background: #1b1b1f;
  --md-sys-color-surface-rgb: 254,251,255;
  --md-sys-color-surface: #fefbff;
  --md-sys-color-on-surface-rgb: 27,27,31;
  --md-sys-color-on-surface: #1b1b1f;
  --md-sys-color-surface-variant-rgb: 226,225,236;
  --md-sys-color-surface-variant: #e2e1ec;
  --md-sys-color-on-surface-variant-rgb: 69,70,79;
  --md-sys-color-on-surface-variant: #45464f;
  --md-sys-color-outline-rgb: 118,118,128;
  --md-sys-color-outline: #767680;
  --md-sys-color-outline-variant-rgb: 198,197,208;
  --md-sys-color-outline-variant: #c6c5d0;
  --md-sys-color-shadow-rgb: 0,0,0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim-rgb: 0,0,0;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface-rgb: 48,48,52;
  --md-sys-color-inverse-surface: #303034;
  --md-sys-color-inverse-on-surface-rgb: 242,240,244;
  --md-sys-color-inverse-on-surface: #f2f0f4;
  --md-sys-color-inverse-primary-rgb: 183,196,255;
  --md-sys-color-inverse-primary: #b7c4ff;
}
.dark-theme {
  --md-sys-color-primary-rgb: 183,196,255;
  --md-sys-color-primary: #b7c4ff;
  --md-sys-color-on-primary-rgb: 0,38,130;
  --md-sys-color-on-primary: #002682;
  --md-sys-color-primary-container-rgb: 6,57,178;
  --md-sys-color-primary-container: #0639b2;
  --md-sys-color-on-primary-container-rgb: 220,225,255;
  --md-sys-color-on-primary-container: #dce1ff;
  --md-sys-color-secondary-rgb: 194,197,221;
  --md-sys-color-secondary: #c2c5dd;
  --md-sys-color-on-secondary-rgb: 43,48,66;
  --md-sys-color-on-secondary: #2b3042;
  --md-sys-color-secondary-container-rgb: 66,70,89;
  --md-sys-color-secondary-container: #424659;
  --md-sys-color-on-secondary-container-rgb: 222,225,249;
  --md-sys-color-on-secondary-container: #dee1f9;
  --md-sys-color-tertiary-rgb: 228,186,218;
  --md-sys-color-tertiary: #e4bada;
  --md-sys-color-on-tertiary-rgb: 67,39,63;
  --md-sys-color-on-tertiary: #43273f;
  --md-sys-color-tertiary-container-rgb: 92,61,86;
  --md-sys-color-tertiary-container: #5c3d56;
  --md-sys-color-on-tertiary-container-rgb: 255,215,244;
  --md-sys-color-on-tertiary-container: #ffd7f4;
  --md-sys-color-error-rgb: 255,180,171;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error-rgb: 105,0,5;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container-rgb: 147,0,10;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container-rgb: 255,180,171;
  --md-sys-color-on-error-container: #ffb4ab;
  --md-sys-color-background-rgb: 27,27,31;
  --md-sys-color-background: #1b1b1f;
  --md-sys-color-on-background-rgb: 228,226,230;
  --md-sys-color-on-background: #e4e2e6;
  --md-sys-color-surface-rgb: 27,27,31;
  --md-sys-color-surface: #1b1b1f;
  --md-sys-color-on-surface-rgb: 228,226,230;
  --md-sys-color-on-surface: #e4e2e6;
  --md-sys-color-surface-variant-rgb: 69,70,79;
  --md-sys-color-surface-variant: #45464f;
  --md-sys-color-on-surface-variant-rgb: 198,197,208;
  --md-sys-color-on-surface-variant: #c6c5d0;
  --md-sys-color-outline-rgb: 144,144,154;
  --md-sys-color-outline: #90909a;
  --md-sys-color-outline-variant-rgb: 69,70,79;
  --md-sys-color-outline-variant: #45464f;
  --md-sys-color-shadow-rgb: 0,0,0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim-rgb: 0,0,0;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface-rgb: 228,225,230;
  --md-sys-color-inverse-surface: #e4e1e6;
  --md-sys-color-inverse-on-surface-rgb: 48,48,52;
  --md-sys-color-inverse-on-surface: #303034;
  --md-sys-color-inverse-primary-rgb: 48,84,203;
  --md-sys-color-inverse-primary: #3054cb;
}